.image-gallery-access-div {
  width: 25%;
  margin: 0;
  padding: 0;
  float: left;
  overflow: hide;
}

.image-gallery-access-clearer {
  clear: both;
}

.image-gallery-access-div > .form-checkboxes {
  margin-top: -1ex;
}

div.image-gallery-access-flowed > div.form-item {
  display: inline;
  margin-right: 1em;
}
